body {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
}

header {
	background: #eee;
	padding: 15px 20px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	margin-top: -1px;
}

header #description {
	margin-top: 5px;
}

header h1 {
	margin: 0;
	padding: 0;
}

header h1 a {
	text-decoration: none;
}

a {
	color: #22bb22;
}

#content {
	padding: 5px 20px;
}

footer {
	text-align: center;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	font-size: 14px;
	color: #666;
}

.links {
	float: right;
	margin-top: -20px;
}

.post h2 {
	margin: 0 0 5px 0;
	font-size: 18px;
}

.post {
	margin-bottom: 10px;
	font-size: 14px;
}

#post h2 {
	margin: 0 0 10px 0;
	border-bottom: 2px solid #222;
	text-align: center;
}